
<header class="header @(ViewBag.IsHome=="Home" ? "header-transparent" : "")">
    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <a href="index.html" class="logo">
                    <@*img src="Content/images/logo.png" alt="Porto Logo">*@
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="@Url.RouteUrl("ProductSearch")" >Categories</a>                           
                        </li>                       
                    </ul>
                </nav>
                <button class="mobile-menu-toggler" type="button">
                    <i class="icon-menu"></i>
                </button>

                <div class="header-dropdowns">  
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button">
                            <i class="icon-search-2"></i><span class="search-text">Search</span>
                        </a>
                        <div class="header-search-wrapper">
                            <form asp-route="ProductSearch" method="get">
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search..." required>
                                <button class="btn" type="submit"><i class="icon-search-2"></i></button>
                            </form>
                        </div><!-- End .header-search-wrapper -->
                    </div><!-- End .header-search -->
                </div><!-- End .header-dropdowns -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-bag-1"></i>
                        <span class="cart-text"><span class="cart-count">2</span> Items on bag</span>
                    </a>

                    <div class="dropdown-menu">
                        <div class="dropdownmenu-wrapper">
                            <a href="#" title="Clear Products" class="cart-clear-btn">
                                <i class="icon-cancel"></i>
                            </a>
                            <div class="dropdown-cart-products">
                                <div class="product">
                                    <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="Content/images/products/cart/product-1.jpg" alt="product">
                                        </a>
                                    </figure>

                                    <div class="product-details">
                                        <h4 class="product-title">
                                            <a href="product.html">Reason Logo Snapback</a>
                                        </h4>

                                        <div class="price-box">
                                            <span class="product-price">$28.00</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-image-container">
                                        <a href="product.html" class="product-image">
                                            <img src="Content/images/products/cart/product-2.jpg" alt="product">
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title">
                                            <a href="product.html">Leather Crisscross Slides</a>
                                        </h4>

                                        <div class="price-box">
                                            <span class="old-price">$12.90</span>
                                            <span class="product-price">$8.90</span>
                                        </div><!-- End .price-box -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .product -->
                            </div><!-- End .cart-product -->

                            <div class="dropdown-cart-action">
                                <a href="cart.html" class="btn">View Cart</a>
                                <a href="checkout-shipping.html" class="btn">Checkout</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdownmenu-wrapper -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->